<div>
    <p></p>
    <h3>5 наиболее покупаемых товаров за месяц</h3>
    <table class="table table-hover">
        <tr>
            <td>Название товара</td>
            <td>Количество</td>
        </tr>
        <tbody>
        <tr ng-repeat="item in purchased">
            <td>{{item.title}}</td>
            <td>{{item.quantity}}</td>
        </tr>
        </tbody>
    </table>
    <h3>5 наиболее просматриваемых товара за день</h3>
    <table class="table table-hover">
        <tr>
            <td>Название товара</td>
            <td>Количество</td>
        </tr>
        <tbody>
        <tr ng-repeat="item in added">
            <td>{{item.title}}</td>
            <td>{{item.quantity}}</td>
        </tr>
        </tbody>
    </table>
</div>
